{% extends "mobile/layout.html" %}

{% block content %}
<div class="content">
    <div class="article odd r_i">
        <div>
            <h1 class="title"><a
                    href="https://pravda.rs/lat/2023/12/11/izrael-medju-500-uhapsenih-120-pripadnika-islamskog-dzihada/">IZRAEL:
                    Među 500 uhapšenih 120 pripadnika Islamskog džihada</a></h1>
            <div class="article_content">
                <div class="article_image"><a
                        href="https://pravda.rs/lat/2023/12/11/izrael-medju-500-uhapsenih-120-pripadnika-islamskog-dzihada/"><img
                            class="thumbnail" src="images/thumb/8ac7c41ac5.jpg" data--h-bstatus="5PROCESSED">
                        <div class="thumbnaildiv" style="background-image:url('images/thumb/8ac7c41ac5.jpg')"></div>
                    </a></div>
                <div class="article_body">
                    <h2><span class="source">Pravda</span> - <span class="when"><span class="when">pre: 32 min
                            </span></span></h2>
                    <p class="snippet">Izraelske odbrambene snage i Šin Bet uhapsile su više od 500 terorističkih
                        operativaca u Pojasu Gaze u poslednjih mesec dana. Oni su odvedeni na saslušanje u Jedinicu 504
                        Vojnoobaveštajne uprave IDF-a i Bezbednosnu agenciju, navodi se u zajedničkom saopštenju i
                        dodaje da je više ...</p>
                </div>
            </div>
            <div class="r_a" style="margin-top: -34px;">
                <div class="r_t" style="max-width: 717px;"><a
                        href="https://www.danas.rs/svet/borelj-razaranje-u-gazi-proporcionalno-mozda-vece-nego-u-nemackoj/">
                        <p>Borelj: Razaranje u Gazi proporcionalno možda veće nego u Nemačkoj</p>
                    </a></div>
                <div class="r_s">
                    <p><a
                            href="https://www.danas.rs/svet/borelj-razaranje-u-gazi-proporcionalno-mozda-vece-nego-u-nemackoj/">Danas</a>
                    </p>
                </div>
            </div>
            <div class="r_a">
                <div class="r_t" style="max-width: 708px;"><a
                        href="https://www.index.hr/vijesti/clanak/izraelci-i-hezbolah-razmjenjuju-vatru-izrael-rat-ce-zavrsiti-kada-ostvarimo-ciljeve/2519790.aspx">
                        <p>Izraelci i Hezbolah razmjenjuju vatru. Izrael: Rat će završiti kada ostvarimo ciljeve</p>
                    </a></div>
                <div class="r_s">
                    <p><a
                            href="https://www.index.hr/vijesti/clanak/izraelci-i-hezbolah-razmjenjuju-vatru-izrael-rat-ce-zavrsiti-kada-ostvarimo-ciljeve/2519790.aspx">Index.hr</a>
                    </p>
                </div>
            </div>
            <div class="r_a">
                <div class="r_t" style="max-width: 702px;"><a
                        href="https://www.vijesti.ba/clanak/623363/gallant-rat-ce-zavrsiti-tek-kada-izrael-postigne-svoje-ciljeve">
                        <p>Gallant: Rat će završiti tek kada Izrael postigne svoje ciljeve</p>
                    </a></div>
                <div class="r_s">
                    <p><a
                            href="https://www.vijesti.ba/clanak/623363/gallant-rat-ce-zavrsiti-tek-kada-izrael-postigne-svoje-ciljeve">Vijesti.ba</a>
                    </p>
                </div>
            </div>
            <script async="">calc_related()</script><a
                href="c/0e7734a817/izrael-medju-500-uhapsenih-120-pripadnika-islamskog-dzihada.html"
                class="other_articles">142 povezane vesti u 12 podteme »</a>
        </div>
    </div>
    <div class="article even r_i">
        <div>
            <h1 class="title"><a
                    href="https://www.b92.net/info/vesti/index.php?yyyy=2023&amp;mm=12&amp;dd=11&amp;nav_category=11&amp;nav_id=2448530">Vučić
                    strahuje? Sukob će se proširiti</a></h1>
            <div class="article_content">
                <div class="article_image"><a
                        href="https://www.b92.net/info/vesti/index.php?yyyy=2023&amp;mm=12&amp;dd=11&amp;nav_category=11&amp;nav_id=2448530"><img
                            class="thumbnail" src="images/thumb/87cd2b17cc.jpg" data--h-bstatus="5PROCESSED">
                        <div class="thumbnaildiv" style="background-image:url('images/thumb/87cd2b17cc.jpg')"></div>
                    </a></div>
                <div class="article_body">
                    <h2><span class="source">B92</span> - <span class="when"><span class="when">pre: 2 sata
                            </span></span></h2>
                    <p class="snippet">Predsednik Republike Srbije Aleksandar Vučić osvrnuo se na aktuelne sukobe
                        istakavši da se plaši da će se sukob u Izraelu proširiti na druge teritorije. Kako je naveo, on
                        sumnja da će uskoro biti završeni sukobi u svetu.</p>
                </div>
            </div>
            <div class="r_a" style="margin-top: -50px;">
                <div class="r_t" style="max-width: 707px;"><a
                        href="https://informer.rs/vesti/politika/855516/plasim-se-da-ce-sukob-u-izraelu-da-se-prosiri-na-druge-teritorije-vucic-o-desavanjima-u-svetu">
                        <p>Plašim se da će sukob u Izraelu da se proširi na druge teritorije! Vučić o dešavanjima u
                            svetu</p>
                    </a></div>
                <div class="r_s">
                    <p><a
                            href="https://informer.rs/vesti/politika/855516/plasim-se-da-ce-sukob-u-izraelu-da-se-prosiri-na-druge-teritorije-vucic-o-desavanjima-u-svetu">Informer</a>
                    </p>
                </div>
            </div>
            <div class="r_a">
                <div class="r_t" style="max-width: 728px;"><a
                        href="https://www.kurir.rs/vesti/politika/4313582/predsednik-vucic-o-sukobima-u-svetu">
                        <p>PREDSEDNIK VUČIĆ O SUKOBIMA U SVETU: Kažu da je Hamas poražen, a ja se plašim da će se
                            proširiti na druge teritorije</p>
                    </a></div>
                <div class="r_s">
                    <p><a
                            href="https://www.kurir.rs/vesti/politika/4313582/predsednik-vucic-o-sukobima-u-svetu">Kurir</a>
                    </p>
                </div>
            </div>
            <div class="r_a">
                <div class="r_t" style="max-width: 697px;"><a
                        href="https://www.republika.rs/vesti/politika/493948/aleksandar-vucic-cirilica">
                        <p>VUČIĆ UPOZORAVA: Sukob u Izraelu preti da se proširi na druge teritorije!</p>
                    </a></div>
                <div class="r_s">
                    <p><a href="https://www.republika.rs/vesti/politika/493948/aleksandar-vucic-cirilica">Republika</a>
                    </p>
                </div>
            </div>
            <script async="">calc_related()</script><a href="c/9c77f1c77c/vucic-strahuje-sukob-ce-se-prosiriti.html"
                class="other_articles">5 povezane vesti »</a>
        </div>
    </div>

</div>
{% endblock %}