{% block bar %}
<div id="bar">
    <div class="lbar">
      <a href="{% url 'timee:mobile_index' %}" title="Mobilna verzija"> <span class="icon" id="m1"></span> </a>
      <a href="{% url 'timee:rsspage' %}" title="RSS kanale"> <span class="icon" id="rss"></span> </a>
      <a href="{% url 'timee:widget' %}" title="Widget"> <span class="icon" id="widget"></span> </a>
    </div>
    <div class="dbar">
      <a href="{% url 'timee:prognoza' %}"> <span>Prognoza</span> </a> <span class="vr">|</span>
      <a href="{% url 'timee:contact' %}"> <span>Kontakt</span> </a><span class="vr">|</span>
    </div>
  </div>
{% endblock bar %}