{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "https://www.w3.org/TR/html4/loose.dtd">

<html lang="en">

<head>
    <base />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="refresh" content="1850" />
    <meta http-equiv="Author" content="Time.ba">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="images/time.ico" rel="icon" type="image/x-icon">
    <link id="color_css_link" rel="stylesheet" type="text/css" href="css/default.css">
    <meta name="viewport" content="width=device-width" />
    <title>{{ naslov_stranice }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "pub-3640326698201471",
            enable_page_level_ads: true
        });

        // Google Analytics skripta
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', ' GT-55VSGKZ');

    </script>
    <script>
        // Funkcija za spremanje odabrane sheme boja u localStorage
        function save_color_scheme(shade) {
            localStorage.setItem('color_scheme', shade);
        }

        // Funkcija za postavljanje sheme boja i ažuriranje linka CSS datoteke
        function set_color_scheme(shade) {
            var color_css_link = document.getElementById('color_css_link');
            color_css_link.setAttribute('href', 'css/' + shade + '.css?ver=44');
            save_color_scheme(shade);
        }


        // Provjeravanje korisničkih preferencija i postavljanje sheme boja
        if ((localStorage.getItem('color_scheme') == 'dark') ||
            (localStorage.getItem('color_scheme') != 'light' && window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            set_color_scheme('dark');
        } else if ((localStorage.getItem('color_scheme') == 'light') ||
            (localStorage.getItem('color_scheme') != 'dark' && window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            set_color_scheme('light');
        }

        // Funkcija za dodavanje event listenera, kompatibilna sa različitim browserima
        function addEvent(object, type, callback) {
            if (object == null || typeof (object) == 'undefined') return;
            if (object.addEventListener) {
                object.addEventListener(type, callback, false);
            } else if (object.attachEvent) {
                object.attachEvent("on" + type, callback);
            } else {
                object["on" + type] = callback;
            }
        };

        // Funkcija za izračunavanje širine naslova povezanih članaka
        function calcNaslov() {
            var relArticles = document.getElementsByClassName("related_article");
            var relNaslovi = document.getElementsByClassName("rel_title");
            var relSource = document.getElementsByClassName("r_source");
            var s = 0;
            for (var i = window.d; i < relArticles.length; i++) {
                var p = relArticles[i].offsetWidth;
                var r = relSource[i].offsetWidth;
                var w = p - (r + 11);
                relNaslovi[i].style.maxWidth = w + "px";
                s = i;
            }
            window.d = s;
        }

        // Funkcija za otvaranje novog popup prozora sa zadanim opcijama
        function newPopup(url) {
            var w = screen.width / 2 - 250;
            var h = screen.height / 3 - 200;
            popupWindow = window.open(url, "popUpWindow", "height=400,width=500,left=" + w + ",top=" + h + ",resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,directories=no,status=yes");
        };

        

    </script>
</head>

<body id="super_1" class="site_timers">
    <div id="wrapper">
        <div id="header">
            {% include "bar.html" %}
            {% include "header.html" %}
            {% include "menu.html" %}
        </div>
        {% block content %}
        {% endblock %}

        {% include "footer.html" %}

        <center>
            <a onclick="scrollUp();" id='btt'></a>
        </center>

    </div>

    <script>var a = document.getElementById("page_title"); 33 <= a.getElementsByTagName("p")[0].innerHTML.length && (a.className = "long");</script>
    <script>calcNaslov();</script> 
    <script type="text/javascript">
        var startBTTPos = 600, btt = document.getElementById("btt");
        function pofs() {
            pageYOffset > startBTTPos ? (window.btt.classList.add("scrl")) : (window.btt.classList.remove("scrl"))
        }
        ; try {
            scr_branding();
            window.onscroll = function () {
                scr_branding();
                pofs()
            }
        } catch (err) {
            window.onscroll = pofs
        }
        ; var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
        var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
        function scrollT(a, b, c) {
            var d = a.scrollTop
                , g = b - d
                , e = 0
                , f = function () {
                    e += 20;
                    var b = Math.easeInOutQuad(e, d, g, c);
                    a.scrollTop = b;
                    e < c && setTimeout(f, 20)
                };
            f()
        }
        Math.easeInOutQuad = function (a, b, c, d) {
            a /= d / 2;
            if (1 > a)
                return c / 2 * a * a + b;
            a--;
            return -c / 2 * (a * (a - 2) - 1) + b
        }
            ;
        function scrollUp() {
            window.scrollTo(0, 0)
        }
        ; pofs()
    </script>
    <script>var a=document.getElementById("page_title");33<=a.getElementsByTagName("p")[0].innerHTML.length&&(a.className="long");</script>

</html>