{% extends "base.html" %}

{% block content %}
<style>
    .company-list {
        list-style-type: none;
        padding: 0;
    }
    .company-item {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .company-item:last-child {
        border-bottom: none;
    }
    .company-name {
        font-weight: bold;
        font-size: 1.2em;
    }
    .company-details {
        font-size: 0.9em;
        color: #555;
    }
    .company-jib {
        font-style: italic;
        color: #888;
    }
    .pagination {
        margin: 20px 0;
        text-align: center;
    }
    .pagination a {
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #ddd;
        color: #337ab7;
        text-decoration: none;
    }
    .pagination a:hover {
        background-color: #ddd;
    }
    .pagination .current {
        padding: 5px 10px;
        background-color: #337ab7;
        color: #fff;
    }
</style>
<div id="news_pane">
    <h2>Firme u opstini {{ opstina }}</h2>
    <div class="pagination">
        {% for i in news_page.paginator.page_range %}
            {% if i <= 10 %}
                <a href="?page={{ i }}"><span class="select"><center>{{ i }}</center></a>
            {% endif %}
        {% endfor %}    
    </div>
    <div class="h_rule"></div>
    <ul class="company-list">
        {% for firma in firme %}
        <li class="company-item">
            <div class="company-name">{{ firma.naziv_kompanije }}</div>
            <div class="company-details">
                Adresa: {{ firma.adresa }}<br>
                Šifra Djelatnosti: {{ firma.sifra }}
            </div>
            <div class="company-jib">JIB: {{ firma.id_broj }}</div>
        </li>
        {% empty %}
        <li>Trenutno nema firmi za prikaz u ovoj opstini.</li>
        {% endfor %}
    </ul>
    <div class="h_rule" ></div>
    <div class="pagination">
        {% for i in news_page.paginator.page_range %}
            {% if i <= 10 %}
                <a href="?page={{ i }}"><span class="select"><center>{{ i }}</center></a>
            {% endif %}
        {% endfor %}    
    </div>
</div>
{% endblock %}
