{% extends "base.html" %}

{% block content %}
<div id="news_pane">
    <div id="imdb_sort">
        <h2>Gradovi/Opštine</h2>
        <div class="pagination">
            {% for i in news_page.paginator.page_range %}
                {% if i <= 10 %}
                    <a href="?page={{ i }}"><span class="select"><center>{{ i }}</center></a>
                {% endif %}
            {% endfor %}    
        </div> 
    </div>
     
    <div class="h_rule"></div>
    {% for opstina in opstine %}
    <div class="imdb_results">
        <div>
            <div class="info">
                <h3><a href="{% url 'timee:firme' opstina.opstina %}">{{ opstina.opstina }}</a>
                (Broj firmi: {{ opstina.broj_firmi }})</h3>
        </div>
        </div>

    </div>
    {% endfor %}
    <div class="h_rule" ></div>
    <div class="pagination">
        {% for i in news_page.paginator.page_range %}
            {% if i <= 10 %}
                <a href="?page={{ i }}"><span class="select"><center>{{ i }}</center></a>
            {% endif %}
        {% endfor %}    
    </div> 

</div>
{% endblock %}