<div id="footer">     <!-- FOOTER   START -->
    <div id="disclaimer">
        Izbor i pozicije vijesti na TIME.ba se automatski određuju kompjuterskim programom.<br>
        Prikazano vrijeme, odnosno datum, odnosi se na trenutak kada je vijest unesena ili ažurirana u TIME.ba <br>
        TIME.ba ne preuzima nikakvu odgovornost za pouzdanost preuzetih informacija.
    </div>
  
    <center>
    <div class="dbar"><!-- DBAR   START -->
            <a href="{% url 'timee:svi_izvori' %}"> <span>Izvori</span></a>
            <span class="vr">-</span>
            <a href="{% url 'timee:time_site' %}"> <span>Kako radi TIME.ba?</span> </a>
            <span class="vr">-</span>
            <a href="{% url 'timee:uslovi_indeksiranja' %}"> <span>Uslovi indeksiranja</span> </a>
            <span class="vr">-</span>
            <a href="{% url 'timee:uslovi_koristenja' %}"> <span>Uslovi koristenja</span> </a>
            <span class="vr">-</span>
            <a href="{% url 'timee:politika_privatnosti' %}"> <span>Politika privatnosti</span> </a>
            <span class="vr">-</span>
            <a href="{% url 'timee:contact' %}"> <span>Kontakt</span> </a>
    </div>             <!-- DBAR   END -->
    </center>

    </div>
    <script>if(Function('/*@cc_on return 10===document.documentMode@*/')()){document.documentElement.className='ie10';}</script>
    <div id="copyright"><center><div class="dbar"><span>© 2024 TIME.ba, designed by <a href="https://octagonsolution.com/">Octagonsolutions</a></span></div></center></div>