<div id="footer">     <!-- FOOTER   START -->
    <div id="disclaimer">
    Izbor i postavljanje vijesti na TIME.BA određuje računarski program.<br>
    Prikazani datum i vrijeme označavaju kada je članak dodat ili ažuriran u TIME.BA .
    </div>
  
    <center>
    <div class="dbar"><!-- DBAR   START -->
            <a href="s/all"> <span>Izvori</span></a>
            <span class="vr">-</span>
            <a href="info/site"> <span>O sajtu</span> </a>
            <span class="vr">-</span>
            <a href="info/marketing"> <span>Marketing</span> </a>
            <span class="vr">-</span>
            <a href="info/contact"> <span>Kontakt</span> </a>
    </div>             <!-- DBAR   END -->
    </center>

    </div>