{% extends "base.html" %}

{% block content %}
<div id="split_pane">
    <div id="news_pane" class="sources">
        <h5>S1</h5>
        <div class="h_rule"></div>
        <a href="{% url 'timee:prikaz_izvora' 'blic' %}">Blic</a>
        <a href="{% url 'timee:prikaz_izvora' 'kurir' %}">Kurir</a>
        <a href="{% url 'timee:prikaz_izvora' 'b92' %}">B92</a>
        <a href="{% url 'timee:prikaz_izvora' 'telegraf' %}">Telegraf</a>
        <a href="{% url 'timee:prikaz_izvora' 'srbijadanas' %}">Srbija Danas</a>
        <a href="{% url 'timee:prikaz_izvora' 'novosti' %}">Novosti</a>
        <a href="{% url 'timee:prikaz_izvora' 'espreso' %}">Espreso</a>
        <a href="{% url 'timee:prikaz_izvora' 'alo' %}">ALO</a>
        <a href="{% url 'timee:prikaz_izvora' 'mondo' %}">Mondo</a>
        <a href="{% url 'timee:prikaz_izvora' 'informer' %}">Informer</a>
        <a href="{% url 'timee:prikaz_izvora' 'pink' %}">Pink</a>
        <a href="{% url 'timee:prikaz_izvora' 'rts' %}">RTS</a>
        <a href="{% url 'timee:prikaz_izvora' 'beta' %}">Beta</a>
        <a href="{% url 'timee:prikaz_izvora' 'nova' %}">Nova</a>
        <a href="{% url 'timee:prikaz_izvora' 'euronews' %}">Euronews</a>
        <!-- Dodajte ostale linkove za S1 ovdje -->

        <h5>S2</h5>
        <div class="h_rule"></div>
        <a href="{% url 'timee:prikaz_izvora' 'n1' %}">N1</a>
        <a href="{% url 'timee:prikaz_izvora' 'rsevropa' %}">R.S.Evropa</a>
        <a href="{% url 'timee:prikaz_izvora' 'aljazeera' %}">Al Jazeera</a>
        <a href="{% url 'timee:prikaz_izvora' 'dw' %}">DW</a>
        <a href="{% url 'timee:prikaz_izvora' 'bbc' %}">BBC</a>
        <a href="{% url 'timee:prikaz_izvora' 'rtv' %}">RTV</a>
        <a href="{% url 'timee:prikaz_izvora' 'republika' %}">Republika</a>
        <a href="{% url 'timee:prikaz_izvora' 'politika' %}">Politika</a>
        <a href="{% url 'timee:prikaz_izvora' 'tanjug' %}">Tanjug</a>
        <a href="{% url 'timee:prikaz_izvora' 'pravda' %}">Pravda</a>
        <a href="{% url 'timee:prikaz_izvora' 'svet' %}">Svet-Scandal</a>
        <a href="{% url 'timee:prikaz_izvora' 'aljazeera' %}">Al Jazeera</a>
        <a href="{% url 'timee:prikaz_izvora' 'dw' %}">DW</a>
        <a href="{% url 'timee:prikaz_izvora' 'bbc' %}">BBC</a>
        <a href="{% url 'timee:prikaz_izvora' 'republika' %}">Republika</a>
        <a href="{% url 'timee:prikaz_izvora' 'politika' %}">Politika</a>
        <a href="{% url 'timee:prikaz_izvora' 'tanjug' %}">Tanjug</a>
        <a href="{% url 'timee:prikaz_izvora' 'pravda' %}">Pravda</a>
        <a href="{% url 'timee:prikaz_izvora' 'svet' %}">Svet-Scandal</a>
        <a href="{% url 'timee:prikaz_izvora'  'danas' %}">Danas</a>
        <!-- Dodajte ostale linkove za S2 ovdje -->

        <h5>S3</h5>
        <div class="h_rule"></div>
        <a href="{% url 'timee:prikaz_izvora' 'rtcg' %}">RTCG</a>
        <a href="{% url 'timee:prikaz_izvora' 'vijestime' %}">Vijesti.me</a>
        <a href="{% url 'timee:prikaz_izvora' 'vijestiba' %}">Vijesti.ba</a>
        <a href="{% url 'timee:prikaz_izvora' 'radiosarajevo' %}">Radio Sarajevo</a>
        <a href="{% url 'timee:prikaz_izvora' 'avaz' %}">Avaz</a>
        <a href="{% url 'timee:prikaz_izvora'  'dnevnikba' %}">Dnevnik.ba</a>
        <a href="{% url 'timee:prikaz_izvora' 'buka' %}">6yka</a>
        <a href="{% url 'timee:prikaz_izvora' 'indexhr' %}">Index.hr</a>
        <a href="{% url 'timee:prikaz_izvora'  '24satahr' %}">24sata.hr</a>
        <a href="{% url 'timee:prikaz_izvora' 'dnevnikhr' %}">Dnevnik.hr</a>
        <a href="{% url 'timee:prikaz_izvora'  'vecernjihr' %}">Vecernji.hr</a> 
        <!-- Dodajte ostale linkove za S3 ovdje -->

        <h5>Ostali</h5>
        <div class="h_rule"></div>
        <a href="{% url 'timee:prikaz_izvora' 'benchmark' %}">Benchmark</a>
        <a href="{% url 'timee:prikaz_izvora' 'bizlife' %}">BizLife</a>
        <a href="{% url 'timee:prikaz_izvora' 'dnevno' %}">Dnevno</a>
        <a href="{% url 'timee:prikaz_izvora' 'indeksonline' %}">IndeksOnline</a>
        <a href="{% url 'timee:prikaz_izvora' 'informacija' %}">Informacija</a>
        <a href="{% url 'timee:prikaz_izvora' 'juznevesti' %}">Južne Vesti</a>
        <a href="{% url 'timee:prikaz_izvora' 'lepota' %}">Lepota i Zdravlje</a>
        <a href="{% url 'timee:prikaz_izvora' 'novimagazin' %}">Novi Magazin</a>
        <a href="{% url 'timee:prikaz_izvora' 'pcpress' %}">PC press</a>
        <a href="{% url 'timee:prikaz_izvora' 'pulsonline' %}">Puls online</a>
        <a href="{% url 'timee:prikaz_izvora' 'sportskenet' %}">Sportske.net</a>
        <a href="{% url 'timee:prikaz_izvora' 'svetplus' %}">Svet Plus</a>
        <a href="{% url 'timee:prikaz_izvora' 'toxictv' %}">Toxic</a>
        <a href="{% url 'timee:prikaz_izvora'  'vestionline' %}">Vesti Online</a> 
        <!-- Dodajte ostale linkove za Ostale ovdje -->
    </div>
    </div>
</div>
{% endblock %}
