{% extends 'base.html' %}

{% block content %}
<style>
    .kontakt-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.kontakt-sekcija {
    display: flex;
    flex-direction: column;
}

.kontakt-sekcija-lijevo {
    flex: 1;
}

.kontakt-sekcija-desno {
    flex: 1;
    align-items: flex-end;
    text-align: right;
}

.kontakt-stavka {
    margin-bottom: 20px;
}

.kontakt-stavka h3 {
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: normal; /* Ako želite da naslovi nisu bold */
}

.kontakt-stavka a {
    font-size: 1em;
    margin-left: 10px; /* Razmak između ikone i teksta */
    color: #000; /* Boja teksta */
    text-decoration: none; /* Uklanjanje podcrtavanja */
}

.kontakt-stavka p {
    margin-top: 5px; /* Razmak između linija teksta */
}

.fas {
    color: #3872e0;
    font-size: 1.4rem;
}

</style>
<div id="split_pane" class="infopage">
    <div id="news_pane">
        <div class="k_naslov" id="c0">
            <h10></h10><span>Kontakt</span>
        </div>
        <div class="h_rule"></div>


        <div class="kontakt-wrapper">
            <div class="kontakt-sekcija kontakt-sekcija-lijevo">
                <div class="kontakt-stavka">
                    <h3>Marketing</h3>
                    <i class="fas fa-envelope"></i><a href="mailto:marketing@time.mk">marketing@time.ba</a>
                </div>
                <div class="kontakt-stavka">
                    <h3>Indeksiranje na izvore</h3>
                    <i class="fas fa-envelope"></i><a href="mailto:info@time.mk">info@time.ba</a>
                </div>
                <div class="kontakt-stavka">
                    <h3>Ostalo</h3>
                    <i class="fas fa-envelope"></i><a href="mailto:admin@time.mk">admin@time.ba</a>
                </div>
            </div>
            <div class="kontakt-sekcija kontakt-sekcija-desno">
                <div class="kontakt-stavka">
                    <i class="fas fa-phone"></i><a href="tel:+38975580900">+387 67 120-8031</a>
                    <p>ponedjeljak - petak 9 - 17h</p>
                </div>
                <div class="kontakt-stavka">
                    
                    <h3>Adresa</h3>
                    <i class="fas fa-home"></i>
                    <a>71000 Sarajevo, Bosna I Hercegovina</a>
                </div>
            </div>
        </div>



        <br>
        <br>


    </div>
    </div>
</div>
{% endblock %}
