<div id="menu">
    <div id="step1"><a class="super_btn" href="/">
            <center>Vijesti</center><span></span>
        </a><a class="super_btn" href="{% url 'timee:sport' %}">
            <center>Sport</center><span></span>
        </a><a class="super_btn" href="{% url 'timee:magazin' %}">
            <center>Magazin</center><span></span>
        </a><a class="extra_btn" href="film/">
            <center>Film</center><span></span>
        </a><a class="extra_btn" href="s/all">
            <center>Izvori</center><span></span>
        </a><a class="extra_btn" href="n/all">
            <center>Najnovije vesti</center><span></span>
        </a>
    </div>
    <div id="step2"><a class="category_btn">

    </div>
</div>

<script>

    $(document).ready(function () {
        // Definisanje sadržaja za svaku kategoriju
        var categoriesContent = {
            'vijesti': '<a class="category_btn" href="{% url "timee:bih_category" %}"><center>BIH</center></a>' +
                '<a class="category_btn" href="{% url "timee:balkan_category" %}"><center>Balkan</center></a>' +
                '<a class="category_btn" href="{% url "timee:svijet_category" %}"><center>Svijet</center></a>' +
                '<a class="category_btn" href="{% url "timee:sarajevo_category" %}"><center>Sarajevo</center></a>' +
                '<a class="category_btn" href="{% url "timee:hronika_category" %}"><center>Hronika</center></a>' +
                '<a class="category_btn" href="{% url "timee:kultura_category" %}"><center>Kultura</center></a>' +
                '<a class="category_btn" href="{% url "timee:scena_category" %}"><center>Scena</center></a>',
            'sport': '<a class="category_btn" href="{% url "timee:fudbal_category" %}"><center>Fudbal</center></a>' +
                '<a class="category_btn" href="{% url "timee:kosarka_category" %}"><center>Košarka</center></a>' +
                '<a class="category_btn" href="{% url "timee:tenis_category" %}"><center>Tenis</center></a>' +
                '<a class="category_btn" href="{% url "timee:ostalo_category" %}"><center>Ostalo</center></a>',
            'magazin': '<a class="category_btn" href="{% url "timee:zabava_category" %}"><center>Zabava</center></a>' +
                '<a class="category_btn" href="{% url "timee:automobili_category" %}"><center>Automobili / Motori</center></a>' +
                '<a class="category_btn" href="{% url "timee:tehnologija_category" %}"><center>Tehnologija / Motori</center></a>' +
                '<a class="category_btn" href="{% url "timee:lifestyle_category" %}"><center>Lifestyle</center></a>' +
                '<a class="category_btn" href="{% url "timee:hrana_category" %}"><center>Hrana / Zdravlje</center></a>' +
                '<a class="category_btn" href="{% url "timee:intima_category" %}"><center>Intima / Sex</center></a>',

        };
        // Podešavanje početnog prikaza za 'vijesti' ili bilo koju drugu početnu kategoriju
        $('#step2').html(categoriesContent['vijesti']);

        // Funkcija koja postavlja aktivnu klasu i sadržaj
        function setActiveClassAndContent(category, color) {
            // Ukloni aktivnu klasu i stilove sa svih elemenata
            $('#menu #step1 a').removeClass('active').css('background-color', '');
            // Dodaj aktivnu klasu na kliknuti element i postavi boju pozadine
            $('#menu #step1 a').filter(function () {
                return $(this).text().trim().toLowerCase() === category;
            }).addClass('active').css('background-color', color);
            // Prikazuje sadržaj za odabranu kategoriju
            if (categoriesContent[category]) {
                $('#step2').html(categoriesContent[category]);
            }
        }

        function setActiveClassAndLoadContent(category, color) {
            // Postavi aktivnu klasu i sadržaj
            setActiveClassAndContent(category, color);

            // Učitaj stranicu za odabranu kategoriju
            // Ovdje pretpostavljamo da je URL definisan u 'href' atributu svake kategorije
            window.location.href = $('#menu #step1 a').filter(function () {
                return $(this).text().trim().toLowerCase() === category;
            }).attr('href');
        }

        // Klik na glavne kategorije
        $('#menu #step1 a.super_btn').on('click', function (e) {
            e.preventDefault();
            var category = $(this).text().trim().toLowerCase();
            var color = '#6b90da'; // Default boja za 'vijesti'
            if (category === 'sport') {
                color = '#079107';
            } else if (category === 'magazin') {
                color = '#8a60b3';
            }
            setActiveClassAndLoadContent(category, color);
            setActiveSubcategory(category, color);
        });

        // Funkcija koja postavlja aktivnu klasu i boju za podkategorije
        function setActiveSubcategory(subcategory, color) {
            // Ukloni aktivnu klasu sa podkategorija
            $('#step2 a').removeClass('active').css('background-color', '');
            // Dodaj aktivnu klasu i boju na odabranu podkategoriju
            $('#step2 a').filter(function () {
                return $(this).text().trim().toLowerCase() === subcategory;
            }).addClass('active').css('background-color', color);

            // Spremi aktivnu podkategoriju u lokalno skladište
            localStorage.setItem('activeSubcategory', subcategory);
        }

        // Klik na podkategorije unutar 'sport'
        $('#step2').on('click', 'a.category_btn', function (e) {
            e.preventDefault();
            var subcategory = $(this).text().trim().toLowerCase();
            var color = '#438988'; // Default boja za podkategorije 'sport'
            if (subcategory === 'košarka') {
                color = '#c00'; // Boja za 'košarka'
            } else if (subcategory === 'fudbal') {
                color = '#438988'; // Boja za 'fudbal'
            }
            setActiveSubcategory(subcategory, color);

            // Dodajte ovu liniju za učitavanje odgovarajuće stranice
            window.location.href = $(this).attr('href');
        });


        // Ako postoji potreba za inicijalnim postavljanjem aktivne klase
        // Možete koristiti sljedeći kod da provjerite URL i postavite aktivnu klasu
        var currentPath = window.location.pathname;
        $('#menu #step1 a, #step2 a').each(function () {
            var href = $(this).attr('href');
            if (currentPath.indexOf(href) !== -1) {
                var category = $(this).text().trim().toLowerCase();
                var color = '#6b90da'; // Default boja
                if (category === 'sport') {
                    color = '#079107';
                } else if (category === 'magazin') {
                    color = '#8a60b3';
                }
                setActiveClassAndContent(category, color); // Samo postavi aktivnu klasu bez učitavanja
            }
        });
    });
</script>