
<style>


#step1 .super_btn.active {
    position: relative;
    width: 120px;
    float: left;
    border-right: 1px solid #fff;
}


</style>
<div id="menu">
    <div id="step1"><a class="super_btn" id="super_0" href="/">
            <center>Vijesti</center><span></span>
        </a><a class="super_btn" id="super_1" href="{% url 'timee:sport' %}">
            <center>Sport</center><span></span>
        </a><a class="super_btn" id="super_2" href="{% url 'timee:magazin' %}">
            <center>Magazin</center><span></span>
        </a><a class="extra_btn" id="super_IMDB" href="film/index.html">
            <center>Film</center><span></span>
        </a><a class="extra_btn" id="super_sources" href="s/all.html">
            <center>Izvori</center><span></span>
        </a><a class="extra_btn" id="super_newest" href="n/all.html">
            <center>Najnovije vijesti</center><span></span>
        </a></div>
    {% if request.path == '/sport/' %}
        <div id="step2"><a class="category_btn" id="c1" href="{% url 'timee:fudbal_category' %}">
            <center>FUDBAL</center>
        </a><a class="category_btn" id="c2" href="st/vesti/ekonomija.html">
            <center>KOSARKA</center>
        </a><a class="category_btn" id="c3" href="st/vesti/balkan.html">
            <center>TESNIS</center>
        </a><a class="category_btn" id="c4" href="st/vesti/svet.html">
            <center>OSTALO</center>
        </div>
    {% elif request.path == '/magazin/' %}    
        <div id="step2"><a class="category_btn" id="c1" href="st/vesti/srbija.html">
            <center>ZABAVA</center>
        </a><a class="category_btn" id="c2" href="st/vesti/ekonomija.html">
            <center>AUTOMOBILI / MOTORI</center>
        </a><a class="category_btn" id="c3" href="st/vesti/balkan.html">
            <center>TEHNOLOGIJA</center>
        </a><a class="category_btn" id="c4" href="st/vesti/svet.html">
            <center>LIFESTYLE</center>
        
        </a><a class="category_btn" id="c4" href="st/vesti/svet.html">
            <center>HRANA / ZDRAVLJE</center>
        
        </a><a class="category_btn" id="c4" href="st/vesti/svet.html">
            <center>INTIMA / SEX</center>
        </div>
    {% else %}
        <div id="step2">
            <a class="category_btn" id="c1" href="{% url 'timee:bih_category' %}">
                <center>BiH</center>
            </a><a class="category_btn" id="c2" href="{% url 'timee:ekonomija_category' %}">
                <center>Ekonomija</center>
            </a><a class="category_btn" id="c3" href="{% url 'timee:balkan_category' %}">
                <center>Balkan</center>
            </a><a class="category_btn" id="c4" href="{% url 'timee:svijet_category'%}">
                <center>Svijet</center>
            </a><a class="category_btn" id="c5" href="{% url 'timee:sarajevo_category' %}">
                <center>Sarajevo</center>
            </a><a class="category_btn" id="c6" href="{% url 'timee:hronika_category' %}">
                <center>Hronika</center>
            </a><a class="category_btn" id="c7" href="{% url 'timee:kultura_category' %}">
                <center>Kultura</center>
            </a><a class="category_btn" id="c8" href="{% url 'timee:scena_category' %}">
                <center>Scena</center>
            </a>
        </div>
    {% endif %}
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var menuLinks = document.querySelectorAll("#menu .super_btn, #menu .extra_btn");
    var savedActiveLinkId = localStorage.getItem('activeLinkId');

    if (savedActiveLinkId) {
        var savedActiveLink = document.querySelector("#menu #" + savedActiveLinkId);
        if (savedActiveLink) {
            savedActiveLink.classList.add('active');
        }
    }

    menuLinks.forEach(function(link) {
        link.addEventListener("click", function() {
            // Ukloni klasu 'active' sa svih linkova
            menuLinks.forEach(function(otherLink) {
                otherLink.classList.remove('active');
            });

            // Dodaj klasu 'active' na kliknuti link
            this.classList.add('active');
            // Spremi ID kliknutog linka u localStorage
            localStorage.setItem('activeLinkId', this.id);

            // Ovdje možete dodati logiku za preusmjeravanje ako je potrebno
            // window.location.href = this.href;
        });
    });
});



</script>
