
<div id="menu">
    <div id="step1"><a class="super_btn" id="super_0" href="/">
            <center>Vijesti</center><span></span>
        </a><a class="super_btn" id="super_1" href="{% url 'timee:sport' %}">
            <center>Sport</center><span></span>
        </a><a class="super_btn" id="super_2" href="{% url 'timee:magazin' %}">
            <center>Magazin</center><span></span>
        </a><a class="extra_btn" id="super_IMDB" href="film/index.html">
            <center>Film</center><span></span>
        </a><a class="extra_btn" id="super_sources" href="s/all.html">
            <center>Izvori</center><span></span>
        </a><a class="extra_btn" id="super_newest" href="n/all.html">
            <center>Najnovije vijesti</center><span></span>
        </a></div>
    {% if request.path == '/sport/' %}
        <div id="step2"><a class="category_btn" id="c1" href="st/vesti/srbija.html">
            <center>FUDBAL</center>
        </a><a class="category_btn" id="c2" href="st/vesti/ekonomija.html">
            <center>KOSARKA</center>
        </a><a class="category_btn" id="c3" href="st/vesti/balkan.html">
            <center>TESNIS</center>
        </a><a class="category_btn" id="c4" href="st/vesti/svet.html">
            <center>OSTALO</center>
        </div>
    {% elif request.path == '/magazin/' %}    
        <div id="step2"><a class="category_btn" id="c1" href="st/vesti/srbija.html">
            <center>ZABAVA</center>
        </a><a class="category_btn" id="c2" href="st/vesti/ekonomija.html">
            <center>AUTOMOBILI / MOTORI</center>
        </a><a class="category_btn" id="c3" href="st/vesti/balkan.html">
            <center>TEHNOLOGIJA</center>
        </a><a class="category_btn" id="c4" href="st/vesti/svet.html">
            <center>LIFESTYLE</center>
        
        </a><a class="category_btn" id="c4" href="st/vesti/svet.html">
            <center>HRANA / ZDRAVLJE</center>
        
        </a><a class="category_btn" id="c4" href="st/vesti/svet.html">
            <center>INTIMA / SEX</center>
        </div>
    {% else %}
        <div id="step2"><a class="category_btn" id="c1" href="st/vesti/srbija.html">
                <center>BiH</center>
            </a><a class="category_btn" id="c2" href="st/vesti/ekonomija.html">
                <center>Ekonomija</center>
            </a><a class="category_btn" id="c3" href="st/vesti/balkan.html">
                <center>Balkan</center>
            </a><a class="category_btn" id="c4" href="st/vesti/svet.html">
                <center>Svijet</center>
            </a><a class="category_btn" id="c5" href="st/vesti/beograd.html">
                <center>Sarajevo</center>
            </a><a class="category_btn" id="c6" href="st/vesti/hronika.html">
                <center>Hronika</center>
            </a><a class="category_btn" id="c7" href="st/vesti/kultura.html">
                <center>Kultura</center>
            </a><a class="category_btn" id="c8" href="st/vesti/scena.html">
                <center>Scena</center>
            </a>
        </div>
    {% endif %}
</div>

