{% extends "base.html" %}

{% block content %}


<div id="split_pane">
    <div id="news_pane" class="top">
        <div id="news_pane" class="single_news">           
            <form style="position:absolute; top:157px;" method="get" action="{% url 'timee:najnovije_vijesti' %}">
                <input type="hidden" name="new" value="true">
                <span>Kategorija : </span>
                <select name="topic" onchange="this.form.submit()">
                    <option value="all" {% if selected_topic == 'all' %}selected{% endif %}>Sve vijesti</option>
                    {% for kat in kategorije %}
                    <option value="{{ kat }}" {% if selected_topic == kat %}selected{% endif %}>{{ kat }}</option>

                    {% endfor %}
                </select>
            </form>            
                <div class="pagination">
                    {% for i in latest_news.paginator.page_range %}
                        {% if i <= 10 %}
                            <a href="?page={{ i }}"><span class="select"><center>{{ i }}</center></a>
                        {% endif %}
                    {% endfor %}    
                </div>             
            <div class="h_rule"></div>
            {% for news in latest_news %}
            <div class="cluster">
                <h1><a href="{{ news.link }}">{{ news.title }}</a></h1>
                {% if news.image_urls %}
                <div class="article_image">
                    <div class="wait_image">
                        <div class="image"
                            style="background-image: url('{{ news.image_urls }}');-ms-behavior: url(/static/script/backgroundsize.min.htc);">
                            <div class="image_inner">
                                <a href="{{ news.link }}" class="image_link" target="_blank"
                                    rel="noopener noreferrer"></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="article_body">
                    <h2><a href="{{ news.source_name }}" class="source">{{ news.source_name }}</a> - <span
                            class="when_now"> {{ news.time_since }}</span></h2>
                    <p>{{ news.description }}</p>
                </div>
            </div>
            <div class="clear"></div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="h_clear"></div>
{% endblock %}