{% extends "base.html" %}

{% block content %}

<div id="split_pane" class="infopage">
    <div class="k_naslov" id="c0">
        <h10></h10><span>Politika privatnosti</span>
    </div>
    <div class="h_rule"></div>


    <br>
    <h3 style="margin-left:10px;">POSLJEDNJE AŽURIRANJE: 23.12.2022</h3>

    <div class="section" style="width:80%;margin-left:10px;">

        Ova obavijest o privatnosti za TIME SOLUTIONS d.o.o. Sarajevo (posluje kao time.ba) ("time.ba", "mi", "nas" ili
        "naš"), opisuje kako i zašto možemo prikupljati, čuvati, koristiti, i/ili dijeliti ("obraditi") vaše podatke
        kada koristite naše usluge ("Usluge"), na primjer kada:
        <br><br>
        <ul style="margin-left:15px;">
            <li>Posjetite našu web stranicu na time.ba ili bilo koju našu web stranicu koja povezuje ovu obavijest o
                privatnosti
            </li>
            <li>Angažirajte se s nama na druge povezane načine, uključujući prodaju, marketing ili događaje
            </li>
        </ul>

        <br>
        <p>
            <b>Pitanja ili nedoumice?</b> Čitanje ove obavijesti o privatnosti pomoći će vam da shvatite svoja prava i
            izbore na privatnost. Ako se ne slažete s našim pravilima i praksama, molimo vas da ne koristite naše
            Usluge. Ako i dalje imate bilo kakvih pitanja ili nedoumica, kontaktirajte nas na <a
                href="{% url 'timee:contact' %}">ovu adresu</a>.
        </p><br>

        <h3>SAŽETAK KLJUČNIH TAČKI</h3>

        <br>
        <p>
            Ovaj sažetak pruža ključne tačke iz našeg obavještenja o privatnosti, ali možete saznati više detalja o bilo
            kojoj od ovih tema klikom na vezu koja slijedi nakon svake ključne točke ili korištenjem naše tablice
            sadržaja ispod da pronađete odjeljak koji tražite. Također možete kliknuti ovdje da biste direktno otišli na
            naš sadržaj.

            <br><br>
        </p>
        <ul style="margin-left:15px;">
            <li><b>Koje lične podatke obrađujemo? </b>Kada posjećujete, koristite ili se krećete po našim uslugama,
                možemo obraditi lične podatke u zavisnosti od toga kako stupate u interakciju sa time.ba i Uslugama,
                vašim izborima i proizvodima i funkcijama koje koristite. <br><br>
            </li>
            <li><b>Obrađujemo li neke osjetljive lične podatke?</b> Ne obrađujemo osjetljive lične podatke.<br><br>

            </li>
            <li><b>Da li primamo bilo kakve informacije od trećih strana?</b> Ne primamo nikakve informacije od trećih
                strana.<br><br>

            </li>
            <li><b>Kako obrađujemo vaše podatke?</b> Obrađujemo vaše podatke da bismo pružili, poboljšali i
                administrirali naše Usluge, komunicirali s vama, radi sigurnosti i prevencije prijevara, te da bismo
                bili u skladu sa zakonom. Također možemo obrađivati vaše podatke u druge svrhe uz vaš pristanak. Vaše
                podatke obrađujemo samo kada za to imamo valjan zakonski razlog. <br><br>

            </li>
            <li><b>Kako čuvamo vaše podatke?</b> Imamo organizacione i tehničke procese i procedure za zaštitu vaših
                ličnih podataka. Međutim, nijedan elektronski prijenos putem interneta ili tehnologija za pohranu
                informacija ne može biti zajamčen 100% siguran, tako da ne možemo obećati ili jamčiti da hakeri, cyber
                kriminalci ili druge neovlaštene treće strane neće moći poraziti našu sigurnost i nepropisno prikupiti
                pristup. , ukrasti ili izmijeniti vaše podatke.<br><br>

            </li>
            <li><b>Koja su vaša prava?</b> U zavisnosti od toga gde se geografski nalazite, važeći zakon o privatnosti
                može značiti da imate određena prava u vezi sa svojim ličnim podacima. <br><br>

            </li>
            <li><b>Kako ostvarujete svoja prava?</b> Najlakši način da ostvarite svoja prava je da nas kontaktirate.
                Razmotrit ćemo i postupiti po svakom zahtjevu u skladu sa važećim zakonima o zaštiti podataka.
            </li>
        </ul>

        <br><br>
        <h3>1. KOJE INFORMACIJE PRIKUPLJAMO?</h3>

        <br>
        <p>
            Prikupljamo lične podatke koje nam dobrovoljno date kada izrazite interes za dobijanje informacija o nama
            ili našim proizvodima i uslugama, kada učestvujete u aktivnostima na Uslugama ili na drugi način kada nas
            kontaktirate.
            <br>
        </p>
        <p>
            Svi lični podaci koje nam date moraju biti istiniti, potpuni i tačni i morate nas obavijestiti o svim
            promjenama takvih ličnih podataka.

            <br><br>
        </p>
        <p>
            Automatski prikupljamo određene informacije kada posjetite, koristite ili se krećete po Uslugama. Ove
            informacije ne otkrivaju vaš specifični identitet (kao što su vaše ime ili kontakt informacije), ali mogu
            uključivati informacije o uređaju i korištenju, kao što su vaša IP adresa, preglednik i karakteristike
            uređaja, operativni sistem, jezične postavke, URL adrese, naziv uređaja, država, lokacija , informacije o
            tome kako i kada koristite naše Usluge i druge tehničke informacije. Ove informacije su prvenstveno potrebne
            za održavanje sigurnosti i rada naših Usluga, te za potrebe naše interne analize i izvještavanja.

            <br><br>
        </p>
        <p>
            Kao i mnoga preduzeća, takođe prikupljamo informacije putem kolačića i sličnih tehnologija. Informacije koje
            prikupljamo uključuju:

            <br><br>
        </p>
        <ul style="margin-left:15px;">

            <li><b>Dnevnik i podaci o upotrebi.</b> Podaci o evidenciji i korišćenju su informacije koje se odnose na
                uslugu, dijagnostiku, upotrebu i performanse koje naši serveri automatski prikupljaju kada pristupate
                našim Uslugama ili ih koristite i koje beležimo u fajlovima evidencije. Ovisno o tome kako komunicirate
                s nama, ovi podaci dnevnika mogu uključivati Vašu IP adresu, informacije o uređaju, tip preglednika i
                postavke i informacije o vašoj aktivnosti u Uslugama (kao što su oznake datuma/vremena povezane s vašom
                upotrebom, stranice i pregledane datoteke , pretrage i druge radnje koje poduzimate, kao što su funkcije
                koje koristite), informacije o događajima uređaja (kao što su sistemska aktivnost, izvještaji o greškama
                (ponekad se nazivaju "ispisi pada") i hardverske postavke).<br><br>

            </li>
            <li><b>Podaci uređaja.</b> Prikupljamo podatke o uređaju kao što su informacije o vašem računaru, telefonu,
                tabletu ili drugom uređaju koji koristite za pristup Uslugama. Ovisno o uređaju koji se koristi, ovi
                podaci o uređaju mogu uključivati informacije kao što su vaša IP adresa (ili proxy server),
                identifikacijski brojevi uređaja i aplikacija, lokacija, tip pretraživača, model hardvera, dobavljač
                internetskih usluga i/ili mobilni operater, operativni sistem i informacije o konfiguraciji
                sistema.<br><br>

            </li>
            <li><b>Podaci o lokaciji</b> Prikupljamo podatke o lokaciji kao što su informacije o lokaciji vašeg uređaja,
                koje mogu biti precizne ili neprecizne. Koliko informacija prikupljamo zavisi od vrste i postavki
                uređaja koji koristite za pristup Uslugama. Na primjer, možemo koristiti GPS i druge tehnologije za
                prikupljanje geolokacijskih podataka koji nam govore o vašoj trenutnoj lokaciji (na osnovu vaše IP
                adrese). Možete isključiti mogućnost da nam dopustite prikupljanje ovih informacija tako što ćete
                onemogućiti postavku lokacije na svom uređaju. Međutim, ako se odlučite odustati, možda nećete moći
                koristiti određene aspekte Usluga.

            </li>
        </ul>

        <br><br>
        <h3>2. KAKO OBRAĐUJEMO VAŠE INFORMACIJE?</h3>

        <br>
        <p>
            Obrađujemo vaše podatke da bismo pružili, poboljšali i administrirali naše Usluge, komunicirali s vama, radi
            sigurnosti i prevencije prijevara, te da bismo bili u skladu sa zakonom. Također možemo obrađivati vaše
            podatke u druge svrhe uz vaš pristanak. Vaše lične podatke obrađujemo iz različitih razloga, ovisno o tome
            kako komunicirate s našim Uslugama, uključujući spašavanje ili zaštitu vitalnog interesa pojedinca. Ne
            dijelimo podatke o pristupu vašoj web stranici s bilo kojim drugim internim ili eksternim stranama.

            <br><br>
        </p>
        <h3>3. NA KOJE PRAVNE OSNOVE SE OSLONIMO DA OBRAĐUJEMO VAŠE INFORMACIJE?</h3>

        <br>
        <p>
            Vaše lične podatke obrađujemo samo kada smatramo da je to potrebno i imamo valjan pravni razlog (tj. pravni
            osnov) da to učinimo prema važećem zakonu, na primjer uz vaš pristanak, da poštujemo zakone, da vam pružimo
            usluge za ulazak u ili da ispunimo naše ugovorne obaveze, da zaštitimo vaša prava ili da ispunimo naše
            legitimne poslovne interese

            <br><br>
        </p>
        <p>
            Vaše podatke možemo obraditi u situacijama u kojima se može zaključiti o vašoj dozvoli (tj. implicitni
            pristanak). U nekim izuzetnim slučajevima, prema važećem zakonu može nam biti dozvoljeno da obrađujemo vaše
            podatke bez vašeg pristanka, uključujući, na primjer:

            <br><br>
        </p>
        <ul style="margin-left:15px;">
            <li>Ako je naplata jasno u interesu pojedinca i saglasnost se ne može dobiti na vrijeme
            </li>
            <li>Za istrage i otkrivanje i prevenciju prijevara
            </li>
            <li>Za poslovne transakcije pod uslovom da su ispunjeni određeni uslovi
            </li>
            <li>Ako je to sadržano u izjavi svjedoka i prikupljanje je neophodno za procjenu, obradu ili namirenje
                potraživanja iz osiguranja
            </li>
            <li>Za identifikaciju povređenih, bolesnih ili umrlih osoba i komunikaciju sa najbližim rođacima
            </li>
            <li>Ako imamo razumne razloge da vjerujemo da je pojedinac bio, jeste ili može biti žrtva finansijske
                zloupotrebe
            </li>
            <li>Ako je razumno očekivati da bi prikupljanje i korištenje uz pristanak ugrozilo dostupnost ili točnost
                informacija
            </li>
            <li>Ako je obelodanjivanje potrebno u skladu sa sudskim pozivom, nalogom, sudskim nalogom ili pravilima suda
                koja se odnose na izradu zapisa
            </li>
            <li>Ako ga je proizvela pojedinac u toku svog zaposlenja, poslovanja ili profesije i prikupljanje je u
                skladu sa svrhama za koje su informacije proizvedene
            </li>
            <li>Ako je zbirka isključivo u novinarske, umjetničke ili književne svrhe
            </li>
            <li>Ako su podaci javno dostupni i propisani propisima
            </li>
        </ul>

        <br><br>
        <h3>4. DA LI KORISTIMO KOLAČIĆE I DRUGE TEHNOLOGIJE PRAĆENJA?</h3>

        <br>
        <p>
            Možemo koristiti kolačiće i slične tehnologije praćenja (kao što su web svjetionici i pikseli) za pristup
            ili pohranjivanje informacija. Također, želimo napomenuti da treće strane prikazuju oglase na našoj web
            stranici (putem javascripta), a također mogu koristiti slične tehnologije praćenja za pristup ili
            pohranjivanje informacija. Ako ne želite da budete praćeni, koristite blokatore reklama ili ne koristite
            stranicu uopće.

            <br><br>
        </p>
        <h3>5. YOUTUBE I TWITTER API USLUGE - USLOVI KORIŠĆENJA</h3>
        <br>
        <p>
            Naša stranica koristi YouTube API usluge za prikupljanje najnovijih političkih TV emisija u Sjevernoj
            Makedoniji i Twitter API usluge za prikupljanje tweetova o temama koje se odnose na korisnike iz Sjeverne
            Makedonije i Makedonije. Nemamo pristup bilo kakvim ličnim podacima korisnika YouTube-a ili Twitter-a putem
            korištenja YouTube/Twitter API usluga. Informacije koje prikupljamo korištenjem YouTube/Twitter API servisa
            koriste se isključivo u svrhu pronalaženja najnovijih videa/tvitova. Podliježemo odredbama i uslovima
            YouTube/Twiiter API usluga. Više informacija o ovim uslovima i pravilima možete pronaći na sljedećim
            linkovima:

            <br><br>
        </p>
        <ul style="margin-left:15px;">
            <li> <a href="https://policies.google.com/privacy">Google Privacy Policy</a>
            </li>
            <li> <a href="https://www.youtube.com/static?template=terms">YouTube Terms of Service</a>
            </li>
            <li> <a href="https://developers.google.com/youtube/terms/api-services-terms-of-service/">YouTube API
                    Services Terms of Service</a>

            </li>
            <li> <a href="https://developer.twitter.com/en/developer-terms/agreement-and-policy">Twitter API Services
                    Terms of Service</a>
            </li>
        </ul>


        <br><br>
        <h3>6. KOLIKO DUGO ČUVAMO VAŠE INFORMACIJE?</h3>

        <br>
        <p>
            Čuvaćemo vaše lične podatke samo onoliko dugo koliko je to neophodno za svrhe navedene u ovom obaveštenju o
            privatnosti, osim ako se duži period čuvanja ne zahteva ili dozvoljava zakonom (kao što su poreski,
            računovodstveni ili drugi pravni zahtevi).

            <br><br>
        </p>
        <p>
            Kada nemamo stalnu legitimnu poslovnu potrebu za obradom vaših ličnih podataka, ili ćemo obrisati ili
            anonimizirati takve informacije, ili, ako to nije moguće (na primjer, zato što su vaši lični podaci
            pohranjeni u sigurnosnoj arhivi), tada ćemo sigurno čuvati vaše lične podatke i izolovati ih od bilo kakve
            dalje obrade sve dok brisanje nije moguće.


            <br><br>
        </p>
        <h3>7. KAKO ČUVAMO VAŠE INFORMACIJE?</h3>

        <br>
        <p>
            Implementirali smo odgovarajuće i razumne tehničke i organizacijske sigurnosne mjere osmišljene da zaštitimo
            sigurnost svih ličnih podataka koje obrađujemo. Međutim, unatoč našim mjerama zaštite i naporima da
            zaštitimo vaše informacije, nijedan elektronski prijenos preko Interneta ili tehnologija za pohranu
            informacija ne može biti 100% siguran, tako da ne možemo obećati ili garantirati da hakeri, cyber kriminalci
            ili druge neovlaštene treće strane neće biti u mogućnosti da ugrozi našu sigurnost i nepropisno prikupi,
            pristupi, ukrade ili modificira vaše podatke. Iako ćemo dati sve od sebe da zaštitimo vaše osobne podatke,
            prijenos ličnih podataka na i iz naših Usluga je na vašu vlastitu odgovornost. Servisima treba da pristupate
            samo u bezbednom okruženju.

            <br><br>
        </p>
        <h3>8. KONTROLE ZA FUNKCIJE ZA NE PRAĆENJE</h3>

        <br>
        <p>
            Većina web pretraživača i neki mobilni operativni sistemi i mobilne aplikacije uključuju funkciju ili
            postavku Do-Not-Track ("DNT") koju možete aktivirati kako biste signalizirali svoju preferenciju privatnosti
            da se podaci o vašim aktivnostima pretraživanja na mreži ne nadgledaju i prikupljaju. U ovoj fazi nije
            finaliziran jedinstveni tehnološki standard za prepoznavanje i implementaciju DNT signala. Kao takvi,
            trenutno ne odgovaramo na signale DNT pretraživača ili bilo koji drugi mehanizam koji automatski saopštava
            vaš izbor da ne budete praćeni na mreži. Ako se usvoji standard za praćenje na mreži koji moramo slijediti u
            budućnosti, obavijestit ćemo vas o toj praksi u revidiranoj verziji ove obavijesti o privatnosti.

            <br><br>
        </p>
        <h3>9. DA LI AŽURIRAMO OVO OBAVJEŠTENJE?</h3>

        <br>
        <p>
            Možemo s vremena na vrijeme ažurirati ovu obavijest o privatnosti. Ažurirana verzija će biti označena ažuriranim "revidiranim" datumom i ažurirana verzija će stupiti na snagu čim bude dostupna. Preporučujemo vam da često pregledate ovo obavještenje o privatnosti kako biste bili obaviješteni o tome kako štitimo vaše podatke.

            <br><br>
        </p>
        <p>
            Ako imate pitanja ili komentara u vezi sa ovom obavještenjem, možete nas kontaktirati na
            <a href="{% url 'timee:contact' %}">ovu adresu</a>.

        </p>
    </div>


</div>

{% endblock %}