{% extends "base.html" %}

{% block content %}

<div id="split_pane" class="infopage">
    <div class="k_naslov" id="c0">
        <h10></h10><span>Uslovi korištenja</span>
    </div>
    <div class="h_rule"></div>


    <br>
    <h3 style="margin-left:10px;">POSLJEDNJE AŽURIRANJE: 23.12.2022</h3>

    <div class="section" style="width:80%;margin-left:10px;">

        <h3>1. PRILAGANJE USLOVIMA</h3>

        <br>
        <p>
            Ovi Uslovi korišćenja predstavljaju pravno obavezujući ugovor sklopljen između vas, lično ili u ime entiteta
            („vi“) i TIME SOLUTIONS d.o.o. Sarajevo
            („Kompanija“, „mi“, „nas“ ili „naš“) , u vezi s vašim pristupom i korištenjem web stranice time.ba, kao i
            bilo kojeg drugog medijskog oblika, medijskog kanala,
            mobilnog web mjesta ili mobilne aplikacije u vezi s njima, povezanih ili na drugi način povezanih s njima
            (zajedno, „Site“). Slažete se da ste pristupom stranici pročitali,
            razumjeli i pristali da budete vezani za sve ove Uslove korištenja. AKO SE NE SLAŽETE SA SVIM OVIM USLOVIMA
            KORIŠĆENJA,
            ONDA VAM JE IZRIČITO ZABRANJENO KORIŠĆENJE SAJTA I MORATE ODMAH PREKINUTI KORIŠĆENJE
        </p>

        <br>
        <p>
            Dodatni uslovi i dokumenti koji se mogu povremeno postavljati na Stranicu su ovde izričito uključeni
            referencom. Zadržavamo pravo, prema vlastitom nahođenju,
            da izvršimo izmjene ili modifikacije ovih Uvjeta korištenja u bilo koje vrijeme i iz bilo kojeg razloga.
            Obavijestit ćemo vas o svim promjenama ažuriranjem datuma
            „Posljednje ažuriranje“ ovih Uvjeta korištenja, a vi se odričete bilo kakvog prava na primanje posebnih
            obavijesti o svakoj takvoj promjeni.
            Molimo vas da provjerite važeće Uslove svaki put kada koristite našu web stranicu kako biste razumjeli koji
            se Uslovi primjenjuju.
            Bićete podložni, i smatraće se da ste upoznati i da ste prihvatili,
            promene u svim revidiranim Uslovima korišćenja Vašim nastavkom korišćenja Sajta nakon datuma kada su takvi
            revidirani Uslovi korišćenja objavljeni.
        </p>

        <br>
        <p>
            Informacije koje se nalaze na Stranici nisu namijenjene za distribuciju ili korištenje od strane bilo koje
            osobe ili entiteta u bilo kojoj jurisdikciji ili zemlji u
            kojoj bi takva distribucija ili korištenje bila u suprotnosti sa zakonom ili uredbom ili koja bi nas
            podvrgla bilo kakvom zahtjevu za registraciju u toj jurisdikciji ili zemlji.
            Shodno tome, one osobe koje odluče pristupiti
            Stranici sa drugih lokacija čine to na vlastitu inicijativu i isključivo su odgovorne za usklađenost s
            lokalnim zakonima, ako iu mjeri u kojoj su lokalni zakoni primjenjivi.
        </p>

        <br>
        <h3>2. PRAVA INTELEKTUALNE SVOJINE</h3>

        <br>
        <p>
            Osim ako nije drugačije naznačeno, Stranica je naše vlasništvo i sav izvorni kod, baze podataka,
            funkcionalnost, softver i dizajn web stranica su u našem vlasništvu ili pod kontrolom ili su nam licencirani
            i zaštićeni su zakonima o autorskim pravima i
            zaštitnim znakovima i raznim drugim pravima intelektualne svojine,
            međunarodnim zakone o autorskim pravima i međunarodne konvencije.
            Sadržaj se nalazi na stranici „KAKO JESTE“ samo za vašu informaciju i ličnu upotrebu.
        </p>

        <br>
        <p>
            Osim kako je izričito navedeno u ovim Uslovima korištenja, nijedan dio stranice i nijedan sadržaj ili oznake
            ne smiju se kopirati, reproducirati, agregirati,
            ponovno objavljivati, postavljati, postavljati, javno prikazivati, kodirati, prevoditi,
            prenositi, distribuirati, prodavati, licencirati ili na drugi način eksploatisani u bilo koju komercijalnu
            svrhu, bez naše dozvole.
        </p>

        <br>
        <p>
            Pod uslovom da ispunjavate uslove da koristite Stranicu, dodeljuje vam se ograničena licenca za pristup i
            korišćenje Stranice i za preuzimanje ili
            štampanje kopije bilo kog dela Sadržaja kojem ste pravilno stekli pristup isključivo za svoje lične,
            nekomercijalne koristiti.
            Zadržavamo sva prava koja vam nisu izričito data na i na Stranicu, Sadržaj i Oznake.
        </p>

        <br>
        <h3>3. KORISNIČKA ZASTUPANJA</h3>

        <br>
        <p>
            Korištenjem stranice izjavljujete i jamčite da: (1) imate pravnu sposobnost i slažete se da ćete se
            pridržavati ovih Uslova korištenja;
            (2) niste maloljetnik u jurisdikciji u kojoj živite; (3) nećete pristupiti Stranici automatskim ili
            neljudskim putem, bilo putem bota, skripte ili na neki drugi način;
            (4) nećete koristiti stranicu u bilo koju nezakonitu ili neovlaštenu svrhu; i (5) vaše korišćenje Sajta neće
            kršiti nijedan važeći zakon ili propis.
        </p>

        <br>
        <h3>4. ZABRANJENE AKTIVNOSTI</h3>

        <br>
        <p>
            Ne smijete pristupiti ili koristiti Stranicu u bilo koju drugu svrhu osim one za koju mi činimo Stranicu
            dostupnom.
            Stranica se ne smije koristiti u vezi s bilo kakvim komercijalnim poduhvatima osim onih koje smo posebno
            odobrili ili odobrili.
        </p>

        <br>
        <p>
            Kao korisnik stranice, saglasni ste da nećete:<br><br>
        </p>
        <ul style="margin-left:15px;">
            <li>Sistematski preuzimajte podatke ili drugi sadržaj sa stranice kako biste kreirali ili kompajlirali,
                direktno ili indirektno,
                kolekciju, kompilaciju, bazu podataka ili direktorij bez naše dozvol.
            </li>
            <li>Zaobilaze, onemogućavaju ili na drugi način ometaju sigurnosne značajke Stranice,
                uključujući funkcije koje sprječavaju ili ograničavaju korištenje ili kopiranje bilo kojeg
            </li>
            <li>Sadržaj ili nametnuti ograničenja upotrebe Stranice i/ili Sadržaja koji se na njoj nalazi.
            </li>
            <li>Omalovažiti, ocrniti ili na drugi način oštetiti, po našem mišljenju, nas i/ili stranicu.
            </li>
            <li>Koristite bilo koju informaciju dobijenu sa stranice kako biste uznemiravali, zlostavljali ili naudili
                drugoj osobi.
            </li>
            <li>Koristite stranicu na način koji nije u skladu sa bilo kojim primjenjivim zakonima ili propisima.
            </li>
            <li>Uključite se u neovlašteno uokvirivanje ili povezivanje na Stranicu.
            </li>
            <li>Učitajte ili prenesite (ili pokušajte učitati ili prenijeti) viruse, trojanske konje ili drugi
                materijal, uključujući pretjeranu upotrebu velikih slova i
                neželjenu poštu (kontinuirano objavljivanje teksta koji se ponavlja), koji ometa neometano korištenje i
                uživanje bilo koje strane u Stranici ili modificira, narušava, ometa, mijenja ili ometa upotrebu,
                karakteristike, funkcije, rad ili održavanje stranice..
            </li>
            <li>Uključite se u bilo koju automatsku upotrebu sistema, kao što je korištenje skripti za slanje komentara
                ili poruka,
                ili korištenje bilo kakvog rudarenja podataka,
                robota ili sličnih alata za prikupljanje i ekstrakciju podataka.
            </li>
            <li>Izbrišite obavještenje o autorskim pravima ili drugim vlasničkim pravima iz bilo kojeg Sadržaja.
            </li>
            <li>Ometati, ometati ili stvarati nepotrebno opterećenje na Stranici ili mrežama ili uslugama povezanim sa
                Stranicom.
            </li>
            <li>Uznemiravajte, dosađujete, zastrašite ili prijetite bilo kojem od naših zaposlenika ili agenata koji su
                uključeni u pružanje bilo kojeg dijela stranice za vas.
            </li>
            <li>Pokušaj zaobići bilo koje mjere na Stranici dizajnirane da spreče ili ograniče pristup Stranici ili bilo
                kojem dijelu Stranice.
            </li>
            <li>Bilo kakvo neovlašteno korištenje stranice, uključujući prikupljanje korisničkih imena i/ili adresa
                e-pošte korisnika elektronskim ili
                drugim sredstvima u svrhu slanja neželjene e-pošte,
                ili kreiranje korisničkih naloga automatskim sredstvima ili pod lažnim izgovorom.
            </li>
            <li>Koristite stranicu kao dio bilo kakvog nastojanja da se natječete s nama ili
                na drugi način koristite stranicu i/ili sadržaj za bilo koji poduhvat ili komercijalni poduhvat koji
                donosi prihod.
            </li>
        </ul>
        <p></p>

        <br>
        <h3>5. DOPRINOSI KORISNIKA</h3>

        <br>
        <p>
            Možemo vam pružiti priliku da kreirate, pošaljete, objavite, prikažete, prenosite, izvodite, objavljujete,
            distribuirate ili emitujete sadržaj i
            materijale nama ili na web stranici, uključujući, ali ne ograničavajući se na tekst, spise, video, audio,
            fotografije , grafike, komentari, prijedlozi ili lični podaci ili drugi materijal (zajedno, "Doprinosi").
            Doprinose mogu vidjeti drugi korisnici
            Stranice i putem web stranica trećih strana. Kao takav, svaki doprinos koji pošaljete može se tretirati u
            skladu sa Politikom privatnosti stranice.
            <br><br>
            Kada kreirate ili učinite dostupnim bilo koji doprinos, time izjavljujete i jamčite da:<br><br>

        </p>
        <ul style="margin-left:15px;">
            <li>Kreiranje, distribucija, prijenos, javno prikazivanje ili izvođenje, te pristup, preuzimanje ili
                kopiranje vaših doprinosa ne krše i neće kršiti vlasnička prava, uključujući, ali ne ograničavajući se
                na autorska prava, patent, zaštitni znak, poslovnu tajnu ili moralna prava bilo koje treće strane.

            </li>
            <li>Vi ste kreator i vlasnik ili imate potrebne licence, prava, pristanke, izdanja i dozvole za korištenje i
                ovlastiti nas, Stranicu i druge korisnike Stranice da koristimo vaše Doprinose na bilo koji način
                predviđen od strane Stranice i ovih Pravila korištenja.
            </li>
            <li>Imate pismeni pristanak, oslobađanje i/ili dopuštenje svake pojedinačne osobe koja se može
                identificirati u vašim Doprinosima da koristite ime ili sliku svake takve pojedinačne osobe koja se može
                identificirati kako biste omogućili uključivanje i korištenje vaših Doprinosa na bilo koji način
                predviđen od strane Sajt i ove Uslove korišćenja.

            </li>
            <li>Vaši doprinosi nisu lažni, netačni ili obmanjujući.
            </li>
            <li>Vaši doprinosi nisu neželjeno ili neovlašteno oglašavanje, promotivni materijali, piramidalne šeme,
                lančana pisma, neželjena pošta, masovna slanja pošte ili drugi oblici traženja
            </li>
            <li>Vaši doprinosi nisu nepristojni, razvratni, lascivni, prljavi, nasilni, uznemiravajući, klevetnički, ili
                na neki drugi način nepoželjni (kako mi odredimo).
            </li>
            <li>Vaši doprinosi nikoga ne ismijavaju, ismijavaju, omalovažavaju, zastrašuju ili zlostavljaju.
            </li>
            <li>Vaši doprinosi se ne koriste za uznemiravanje ili prijetnju (u pravnom smislu tih izraza) bilo kojoj
                drugoj osobi i za promoviranje nasilja nad određenom osobom ili klasom ljudi.
            </li>
            <li>Vaši doprinosi ne krše nijedan primjenjiv zakon, propis ili pravilo.
            </li>
            <li>Vaši doprinosi ne krše prava privatnosti ili publiciteta bilo koje treće strane.
            </li>
            <li>Vaši doprinosi ne krše nijedan važeći zakon koji se odnosi na dječiju pornografiju, niti je na drugi
                način namijenjen zaštiti zdravlja ili dobrobiti maloljetnika.
            </li>
            <li>Vaši doprinosi ne uključuju uvredljive komentare koji su povezani s rasom, nacionalnim porijeklom,
                spolom, seksualnim preferencijama ili fizičkim hendikepom. Vaši doprinosi na drugi način ne krše niti
                povezuju sa materijalom koji krši bilo koju odredbu ovih Uslova korištenja ili bilo koji primjenjivi
                zakon ili propis.

            </li>
        </ul>
        <br>
        Svako korištenje Stranice u suprotnosti s gore navedenim krši ove Uslove korištenja i može rezultirati, između
        ostalog, ukidanjem ili suspenzijom vaših prava na korištenje Stranice.
        <p></p>

        <br>
        <h3>6. LICENCA ZA DOPRINOS</h3>

        <br>
        <p>
            Slažete se da možemo pristupiti, pohraniti, obrađivati i koristiti bilo koje informacije i lične podatke
            koje nam pružite u skladu s odredbama Politike privatnosti i vašim izborima (uključujući postavke).
        </p>

        <br>
        <p>
            Podnošenjem sugestija ili drugih povratnih informacija u vezi sa Stranicom, slažete se da možemo koristiti i
            dijeliti takve povratne informacije u bilo koju svrhu bez naknade za vas.
        </p>

        <br>
        <p>
            Ne tvrdimo nikakvo vlasništvo nad vašim doprinosima. Zadržavate potpuno vlasništvo nad svim svojim
            Doprinosima i svim pravima intelektualne svojine ili drugim vlasničkim pravima povezanim s vašim
            Doprinosima. Nismo odgovorni za bilo kakve izjave ili izjave u vašim doprinosima koje ste dali u bilo kojoj
            oblasti na stranici. Vi ste isključivo odgovorni za svoje doprinose na stranici i izričito ste saglasni da
            nas oslobodite svake odgovornosti i da se suzdržite od bilo kakvog pravnog postupka protiv nas u vezi sa
            vašim doprinosima.
        </p>


        <br>
        <h3>7. PODNESCI</h3>

        <br>
        <p>
            Prihvaćate i slažete se da su sva pitanja, komentari, prijedlozi, ideje, povratne informacije ili druge
            informacije u vezi s web-mjestom ("Podnesci") koje ste nam dali nepovjerljivi i da će postati naše
            isključivo vlasništvo. Posjedujemo isključiva prava, uključujući sva prava intelektualne svojine, i imaćemo
            pravo na neograničenu upotrebu i širenje ovih podnesaka u bilo koju zakonitu svrhu, komercijalnu ili drugu,
            bez priznanja ili naknade vama. Ovim se odričete svih moralnih prava na takve podneske, i ovime garantujete
            da su svi takvi podnesci originalni kod vas ili da imate pravo da podnesete takve podneske. Slažete se da
            neće biti prigovora protiv nas za bilo kakvo navodno ili stvarno kršenje ili pronevjeru bilo kojeg
            vlasničkog prava u vašim podnescima.
        </p>

        <br>
        <h3>8. UPRAVLJANJE STRANICOM</h3>

        <br>
        <p>
            Zadržavamo pravo, ali ne i obavezu, da: (1) nadgledamo Stranicu radi kršenja ovih Uslova korišćenja; (2)
            poduzeti odgovarajuće pravne radnje protiv svakoga ko, prema vlastitom nahođenju, krši zakon ili ove Uslove
            korištenja, uključujući, bez ograničenja, prijavu takvog korisnika organima za provođenje zakona; (3) po
            sopstvenom nahođenju i bez ograničenja, odbiti, ograničiti pristup, ograničiti dostupnost ili onemogućiti (u
            meri u kojoj je to tehnološki izvodljivo) bilo koji vaš doprinos ili bilo koji njegov deo; (4) po sopstvenom
            nahođenju i bez ograničenja, obaveštenja ili odgovornosti, da uklonimo sa Sajta ili na drugi način
            onemogućimo sve datoteke i sadržaj koji su prevelike veličine ili na bilo koji način opterećuju naše
            sisteme; i (5) na drugi način upravljati Stranicom na način dizajniran da zaštiti naša prava i imovinu i da
            olakša pravilno funkcionisanje Stranice.
        </p>

        <br>
        <h3>9. TRAJANJE I PRESTANAK</h3>

        <br>
        <p>
            Ovi Uslovi korišćenja ostaju na punoj snazi i na snazi dok koristite Sajt. BEZ OGRANIČAVANJA BILO KAKVE
            DRUGE ODREDBE OVIH USLOVA KORIŠĆENJA, ZADRŽAVAMO PRAVO DA, PO NAŠEM ODLUČIVANJU I BEZ OBAVEŠTENJA ILI
            ODGOVORNOSTI, ZABRIMO PRISTUP I KORIŠTENJE SAJTA (UKLJUČUJUĆI BLOKIRANJE ODREĐENE ODREĐENE IP adrese) BEZ
            RAZLOGA, UKLJUČUJUĆI BEZ OGRANIČENJA ZA KRŠENJE BILO KOGA ZASTUPANJA, GARANCIJE ILI UGOVORA SADRŽANOG U OVIM
            USLOVIMA KORIŠĆENJA ILI BILO KOJI VAŽEĆI ZAKON ILI PROPISI. MOŽEMO UKINUTI VAŠU KORIŠĆENJE ILI UČEŠĆE NA
            SAJTU ILI IZBRISATI BILO KOJI SADRŽAJ ILI INFORMACIJU KOJE STE OBJAVILI U BILO KOJE TREBA, BEZ UPOZORENJA,
            PO NAŠEM SAMO ODLUČIVANJU.
        </p>

        <br>
        <p>
            Ako ukinemo ili obustavimo vaš račun iz bilo kojeg razloga, zabranjeno vam je da se registrujete i kreirate
            novi račun pod svojim imenom, lažnim ili posuđenim imenom, ili imenom bilo koje treće strane, čak i ako
            možda djelujete u ime trećeg party. Pored ukidanja ili suspendovanja vašeg naloga, zadržavamo pravo da
            preduzmemo odgovarajuće pravne radnje, uključujući, bez ograničenja, građansku, krivičnu i sudsku zabranu.
        </p>

        <br>
        <h3>10. IZMJENE I PREKIDI</h3>

        <br>
        <p>
            Zadržavamo pravo da promijenimo, izmijenimo ili uklonimo sadržaj stranice u bilo koje vrijeme ili iz bilo
            kojeg razloga prema vlastitom nahođenju bez prethodne obavijesti. Međutim, nemamo obavezu ažurirati bilo
            koju informaciju na našoj web stranici. Također zadržavamo pravo da izmijenimo ili ukinemo cijeli ili dio
            stranice bez prethodne najave u bilo koje vrijeme. Nećemo biti odgovorni prema vama ili bilo kojoj trećoj
            strani za bilo kakvu modifikaciju, promjenu cijene, suspenziju ili ukidanje stranice.
        </p>

        <br>
        <p>
            Ne možemo garantovati da će stranica biti dostupna u svakom trenutku. Možemo naići na hardverske, softverske
            ili druge probleme ili potrebu za održavanjem vezanim za Stranicu, što rezultira prekidima, kašnjenjima ili
            greškama. Zadržavamo pravo da promijenimo, revidiramo, ažuriramo, suspendujemo, ukinemo ili na bilo koji
            drugi način modificiramo Stranicu u bilo koje vrijeme ili iz bilo kojeg razloga bez prethodnog
            obavještavanja. Slažete se da nemamo nikakvu odgovornost za bilo kakav gubitak, štetu ili neugodnost
            uzrokovanu vašom nemogućnošću da pristupite ili koristite Stranicu tokom bilo kakvog zastoja ili prekida
            rada Stranice. Ništa u ovim Uvjetima korištenja neće se tumačiti kao obavezu da održavamo i podržavamo
            Stranicu ili da dostavljamo bilo kakve ispravke, ažuriranja ili izdanja u vezi s tim
        </p>

        <br>
        <h3>11. MJERODAVNO PRAVO</h3>

        <br>
        <p>
            Ovi Uslovi će biti regulisani i definisani u skladu sa zakonima Severne Makedonije. TAJM - BORG DOOEL SKOPJE
            i Vi neopozivo pristajete na to da će Osnovni sud Skoplje 1 Republike Sjeverne Makedonije imati isključivu
            nadležnost za rješavanje bilo kojeg spora koji može nastati u vezi sa ovim uslovima.
        </p>

        <br>
        <h3>12. ISPRAVKE</h3>

        <br>
        <p>
            Na stranici mogu postojati informacije koje sadrže tipografske greške, netačnosti ili propuste, uključujući
            opise, cijene, dostupnost i razne druge informacije. Zadržavamo pravo da ispravimo sve greške, netačnosti
            ili propuste i da promijenimo ili ažuriramo informacije na Stranici u bilo koje vrijeme, bez prethodne
            najave.
        </p>


        <br>
        <h3>13. ODRICANJE ODGOVORNOSTI</h3>

        <br>
        <p>
            SAJT JE OBEZBEĐEN NA OSNOVU KAKAV JE I DOSTUPAN. SLAŽETE SE DA ĆE VAŠE KORIŠĆENJE SAJTA I NAŠIH USLUGA BITI
            NA VAŠ VELIKI RIZIK. U NAJVEĆOJ MJERI DOPUŠTENOM ZAKONOM, ODRIČEMO SE SVIH GARANCIJA, IZRIČITIH ILI
            PODRAZUMEVANIH, U VEZI SA LOKACIJOM I VAŠOM KORIŠĆENJEM, UKLJUČUJUĆI, BEZ OGRANIČENJA, IMPLICIRANE GARANCIJE
            I DELOVITE GARANCIJE, -KRŠENJE. NE DAJEMO NIKAKVE GARANCIJE ILI IZJAVE O TAČNOSTI ILI KOMPLETNOSTI SADRŽAJA
            SAJTA ILI SADRŽAJA BILO KAKVE VEB STRANE POVEZANE SA SAJTOM I NEĆEMO PREUZIMATI NIKAKVU ODGOVORNOST ILI
            ODGOVORNOST (ODGOVORNOST) I PREUZIMAMO GREŠKE 1. MATERIJALI, ( 2) LIČNE POVREDE ILI OŠTEĆENJA IMOVINE, BILO
            KAKVE PRIRODE, KOJA JE REZULTAT VAŠEG PRISTUPA I KORIŠĆENJA SAJTA, (3) BILO KOJI NEOVLAŠĆENI PRISTUP ILI
            UPOTREBA NAŠIH SIGURNIH SERVERA I/ILI BILO KAKVE I/ILI INFORMAN INFORMALNE OSOBINE TAMO POČUVANO, (4) BILO
            KOJI PREKIDA ILI PRESTANAK PRENOSA NA LOKACIJU ILI SA NJEGA, (5) BILO KAKVE BUGOVE, VIRUSE, TROJANSKI KONJI
            ILI SLIČNO KOJI SE MOGU PRENOSITI NA ILI KROZ SAJT BILO KOJI TREĆI/TREĆI (6) BILO KAKVE GREŠKE ILI PROPUSTKE
            U BILO KOM SADRŽAJU I MATERIJALU ILI ZA BILO KOJI GUBITAK ILI ŠTETU BILO KOJE VRSTE NASTALE KAO REZULTAT
            KORIŠĆENJA BILO KOJEG SADRŽAJA POSTAVLJENOG, PRENOŠENOG ILI NA DRUGIM KAKO DOSTUPAN PREKO SAJTA. NE
            GARANTUJEMO, PODRŽAVAMO, GARANTUJEMO ILI PREUZIMAMO ODGOVORNOST ZA BILO KOJI PROIZVOD ILI USLUGU KOJE SE
            OGLASI ILI PONUDI TREĆA STRANA PREKO SAJTA, BILO KOJU HIPERLINKOVANU VEB STRANU, ILI BILO KOJU FEALE
            APLIKACIJU KOJU IMAJU KOJU MOBILACIJU I NEĆEMO BUDITE STRANA ILI NA BILO KOJI NAČIN BUDITE ODGOVORNI ZA
            PRAĆENJE BILO KAKVE TRANSAKCIJE IZMEĐU VAS I BILO KAKVE TREĆE STRANKE Pružaoca PROIZVODA ILI USLUGA. KAO I
            KOD KUPOVINE PROIZVODA ILI USLUGE PREKO BILO KOGA MEDIJUMA ILI U BILO KOJEM OKRUŽENJU, TREBA DA SE NAJBOLJE
            PROSUDITE I BUDITE OPREZNIM TAMO DA JE PRIMJENO.
        </p>

        <br>
        <p>
            NI U KOJOM SLUČAJU MI ILI NAŠI DIREKTORI, ZAPOSLENI ILI AGENTI NEĆEMO BITI ODGOVORNI PREMA VAMA ILI BILO
            KOJOJ TREĆOJ STRANI ZA BILO KAKVE DIREKTNE, INDIREKTNE, POSLJEDIČNE, PRIMJERNE, SLUČAJNE, POSEBNE, POSEBNE,
            LIČNE ILI PODATAKA, ILI DRUGE ŠTETE KOJE PROISTAKLE IZ VAŠEG KORIŠĆENJA SAJTA, ČAK I AKO SMO OBAVEŠTENI O
            MOGUĆNOSTI TAKVE ŠTETE.
        </p>

        <br>
        <h3>14. ODŠTETA</h3>

        <br>
        <p>
            Saglasni ste da ćete nas braniti, obeštetiti i držati nas bezopasnim, uključujući naše podružnice, filijale
            i sve naše službenike, agente, partnere i zaposlenike, od i protiv bilo kakvog gubitka, štete, odgovornosti,
            potraživanja ili zahtjeva, uključujući razumne advokate ' naknade i troškovi koje je napravila bilo koja
            treća strana zbog ili proizašli iz: (1) korišćenja Stranice; (2) kršenje ovih Uslova korišćenja; (3) svako
            kršenje vaših izjava i garancija navedenih u ovim Uslovima korišćenja; (4) vaše kršenje prava treće strane,
            uključujući, ali ne ograničavajući se na prava intelektualne svojine; ili (5) bilo kakvog otvorenog štetnog
            čina prema bilo kojem drugom korisniku Stranice sa kojim ste se povezali putem Stranice. Bez obzira na gore
            navedeno, zadržavamo pravo, o vašem trošku, da preuzmemo isključivu odbranu i kontrolu nad bilo kojim
            pitanjem za koje se od vas traži da nas obeštetite, a vi ste saglasni da o svom trošku sarađujete u našoj
            odbrani od takvih zahtjeva. Uložit ćemo razumne napore da vas obavijestimo o svakom takvom zahtjevu, radnji
            ili postupku koji podliježe ovoj obeštećenju nakon što saznamo za to.
        </p>

        <br>
        <h3>15. KORISNIČKI PODACI</h3>

        <br>
        <p>
            Zadržat ćemo određene podatke koje prenesete na Stranicu u svrhu upravljanja radom Stranice, kao i podatke
            koji se odnose na vaše korištenje Stranice. Iako vršimo redovne rutinske sigurnosne kopije podataka, vi ste
            isključivo odgovorni za sve podatke koje prenosite ili koji se odnose na bilo koju aktivnost koju ste
            poduzeli koristeći Stranicu. Slažete se da nećemo imati nikakvu odgovornost prema vama za bilo kakav gubitak
            ili oštećenje takvih podataka i ovim se odričete bilo kakvog prava na tužbu protiv nas koja proizilazi iz
            bilo kakvog takvog gubitka ili oštećenja takvih podataka.
        </p>

        <br>
        <h3>16. ELEKTRONSKA KOMUNIKACIJA, TRANSAKCIJE I POTPISI</h3>

        <br>
        <p>
            Posjećivanje stranice, slanje e-pošte i popunjavanje onlajn obrazaca predstavljaju elektronsku komunikaciju.
            Pristajete na primanje elektroničkih komunikacija i slažete se da svi ugovori, obavještenja, otkrivanja i
            druga komunikacija koju vam dostavljamo elektronski, putem e-pošte i na web stranici, zadovoljavaju sve
            zakonske zahtjeve da takva komunikacija bude u pisanoj formi. OVIM PRISTAJETE NA UPOTREBU ELEKTRONSKIH
            POTPISA, UGOVORA, NALOGA I DRUGIH EVIDENCIJA, I NA ELEKTRONSKO ISPORUČIVANJE OBAVJEŠTAJA, POLITIKA I
            EVIDENCIJA O TRANSAKCIJAMA KOJE SU POKRETALI ILI ZAVRŠENI OD STRANE NAS. Ovim se odričete bilo kakvih prava
            ili zahtjeva prema bilo kojim statutima, propisima, pravilima, uredbama ili drugim zakonima u bilo kojoj
            jurisdikciji koji zahtijevaju originalni potpis ili isporuku ili zadržavanje neelektronskih zapisa, ili
            plaćanja ili odobravanja kredita na bilo koji drugi način nego elektronskim sredstvima.
        </p>

        <br>
        <h3>17. RAZNO</h3>

        <br>
        <p>
            Ovi Uvjeti korištenja i sve politike ili pravila rada koja smo objavili na Stranici ili u vezi sa Stranicom
            predstavljaju cjelokupni ugovor i razumijevanje između vas i nas. Naš propust da iskoristimo ili sprovedemo
            bilo koje pravo ili odredbu ovih Uslova korišćenja neće delovati kao odricanje od takvog prava ili odredbe.
            Ovi Uslovi korišćenja funkcionišu u najvećoj meri dozvoljenoj zakonom. Možemo prenijeti bilo koja ili sva
            naša prava i obaveze drugima u bilo koje vrijeme. Nećemo biti odgovorni za bilo kakav gubitak, štetu,
            kašnjenje ili nedjelovanje uzrokovano bilo kojim uzrokom izvan naše razumne kontrole. Ako se utvrdi da je
            bilo koja odredba ili dio odredbe ovih Uvjeta korištenja nezakonita, ništavna ili neprovediva, smatra se da
            je ta odredba ili dio odredbe odvojena od ovih Uvjeta korištenja i ne utiče na valjanost i provedivost bilo
            kojeg preostalog odredbe. Između vas i nas ne postoji zajednički poduhvat, partnerstvo, radni ili agencijski
            odnos kao rezultat ovih Uvjeta korištenja ili korištenja stranice. Slažete se da se ovi Uslovi korištenja
            neće protumačiti protiv nas na osnovu toga što smo ih izradili. Ovim se odričete svake i svih odbrana koje
            možete imati na osnovu elektronskog oblika ovih Uslova korišćenja i nepostojanja potpisivanja od strane
            strana za izvršenje ovih Uslova korišćenja.
        </p>


        <br><br>
        <h3>18. YOUTUBE I TWITTER API USLUGE - USLOVI KORIŠĆENJA USLUGE</h3>
        <br>
        <p>
            Naša stranica koristi YouTube API usluge za prikupljanje najnovijih političkih TV emisija u Sjevernoj
            Makedoniji i Twitter API usluge za prikupljanje tweetova o temama koje se odnose na korisnike iz Sjeverne
            Makedonije i Makedonije. Nemamo pristup bilo kakvim ličnim podacima korisnika YouTube-a ili Twitter-a putem
            korištenja YouTube/Twitter API usluga. Informacije koje prikupljamo korištenjem YouTube/Twitter API servisa
            koriste se isključivo u svrhu pronalaženja najnovijih videa/tvitova. Podliježemo odredbama i uslovima
            YouTube/Twiiter API usluga. Više informacija o ovim uslovima i pravilima možete pronaći na sljedećim
            linkovima:

            <br><br>
        </p>
        <ul style="margin-left:15px;">
            <li> <a href="https://policies.google.com/privacy">Google Privacy Policy</a>
            </li>
            <li> <a href="https://www.youtube.com/static?template=terms">YouTube Terms of Service</a>
            </li>
            <li> <a href="https://developers.google.com/youtube/terms/api-services-terms-of-service/">YouTube API
                    Services Terms of Service</a>
            </li>
            <li> <a href="https://developer.twitter.com/en/developer-terms/agreement-and-policy">Twitter API Services
                    Terms of Service</a>
            </li>
        </ul>



        <br>
        <h3>19. KONTAKTIRAJTE NAS</h3>

        <br>
        <p>
            Kako biste riješili prigovor u vezi sa Stranicom ili dobili dodatne informacije u vezi sa korištenjem
            Stranice, možete nas kontaktirati na <a href="{% url 'timee:contact' %}">ovu adresu</a>
            <br>

        </p>

    </div>


</div>

{% endblock %}