{% extends "base.html" %}

{% block content %}

<div id="split_pane" class="infopage"><div class="k_naslov" id="c0"><h10></h10><span>Uslovi indeksiranja</span></div><div class="h_rule"></div>


<style>.section .section_content>ol>li span[title]{cursor: help;border-bottom: 1px dotted #000;}</style>
<div class="section"><div class="section_content" style="width:100%">
  <ol>
    <li><span>Web stranica mora biti aktivna najmanje 6 mjeseci</span></li>
    <li>U trenutku prijave, dostavite <b>Google Analytics</b> izvještaje za posljednja 3 mjeseca <b>(3x .pdf)</b></li>
    <li>U svakom od posljednja 3 mjeseca, web stranica bi trebala imati minimalno <b>300 000</b> posjeta (session_start) mjesečno ili u prosjeku oko <b>10 000</b> posjeta dnevno (<b>180 000</b> posjeta mjesečno za stranice sa sadržajem iz jedne kategorije, na primjer: automobili, hrana, zdravlje, rukomet, tehnologija itd.)</li>
    <li>Objavljivati minimalno <b>60</b> članaka/vijesti mjesečno</li>
    <li>Obezbjedite zasebne RSS feedove za sve kategorije i potkategorije</li>
    <li>RSS kanali moraju imati veze do malih verzija slika vijesti</li>
    <li>Datum i vrijeme objavljivanja članaka/vijesti trebaju biti vidljivo istaknuti</li>
    <li>Web lokacija bi trebala omogućiti HTTPS protokol.</li>
    <li>Vijesti na web stranici se otvaraju za manje od 5 sekundi.</li>
    <li>Ukoliko se na Vašem sajtu na vidljivom mmjestu objavljuju dnevnopolitičke vijesti, mora se postaviti impresum i sajt mora biti osnovan od strane pravnog lica.</li>
    <li>Ako bilo koja web stranica koja je već bila dio izvora TIME.ba u proteklom mjesecu ne zadovolji tačku <b>4),</b> biće uklonjena i biće potrebno ponovo podnijeti zahtjev za ponovno dodavanje.</li>
    <li>Ukoliko Vaš sajt ispunjava tačke <b>1)</b> do <b>10)</b>, pošaljite nam e-mail sa potrebnim podacima na gornju adresu</li>
  </ol>
  
  </div>
</div>


</div>


{% endblock %}