{% extends 'base.html' %}
{% block content %}
<div id="split_pane" class="infopage">
    <!-- Ostatak vašeg koda -->

    <!-- Kalendar -->
    <div id="calendar">
        <!-- ... Vaš kod kalendara ... -->
    </div>

    <!-- Kontejner za prikaz vijesti -->
    <div id="news-container">
        <!-- Ovdje će se prikazivati vijesti -->
    </div>
</div>
<script>
    document.querySelectorAll('#calendar a').forEach(item => {
        item.addEventListener('click', function(e) {
            e.preventDefault();

            // Preuzimanje datuma iz data-date atributa
            var date = this.getAttribute('data-date');

            // AJAX zahtjev na Django backend
            fetch('/news-archive/?date=' + date)
    .then(response => response.json())
    .then(data => {
        // Pozivanje funkcije za ažuriranje vijesti
        updateNews(data);
    })
    .catch(error => console.error('Error:', error));
        });
    });

    function updateNews(newsData) {
        const container = document.getElementById('news-container');
        container.innerHTML = ''; // Čišćenje starog sadržaja

        // Dodavanje novih vijesti
        newsData.forEach(news => {
            const newsElement = document.createElement('div');
            newsElement.className = 'news-item';
            newsElement.innerHTML = `<h2>${news.title}</h2><p>${news.description}</p>`;
            container.appendChild(newsElement);
        });
    }
</script>


{% endblock %}
